@import './variables';

@mixin font-size-defs ($target) {
  @each $font-size-class in $font-size-classes {
    $index: index($font-size-classes, $font-size-class);

    // 首页
    @if $target == index {
      #index.#{$font-size-class} {
        font-size: nth($font-size-levels, $index);

        button, input {
          font-size: nth($font-size-levels, $index);
        }

        .add-fab {
          bottom: $add-fab-margin + nth($bottom-nav-height, $index);
        }

        .bottom-nav {
          height: nth($bottom-nav-height, $index);
        }
      }
    }
  }
}
