@import './images';

// 主颜色
$primary: #d32f2f;

// 标题栏下的阴影
$title-shadow: 0 0 6px black;
$title-shadow-height: 2px;

// 主页 ------------------------------------------------------------------------

// 底部导航栏
$bottom-nav-border: #e0e0e0;
$bottom-nav-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
$bottom-nav-item-active: $primary;
$bottom-nav-item-normal: #757575;
